# ItDS Assignment 6

This homework assignment is about lectures 6 and 7: Pandas.

The homework is automatically checked. There are some strict guidelines, which are explained below, including some other information.

- The first code cell contains a function - `student()` - in which you have to fill in your name, student number and e-mail. Please do so __correctly__, since these will be used to store and mail your results.

- All exercises are defined as a function (`def`), of which we will check whether your output of the function corresponds with ours. This means that __we will only check the answer__ (output). So, always check whether your function _returns_ (careful: this is not the same as print) an answer as specified in the exercise!
	- __Do not change the names__ of the given functions, these are specifically named this way for checking the homework. (e.g. if you are to answer exercise 1 which is a function coded: `def exercise1():`, then do not change the name of the function `exercise1()`)
	- __Do not define another new function with the same name__. Even if it is in other cells. We will not be able to find the right version.
	- Do not write additional code in the cell where the function is defined, so only include code within the function that is necessary for the answer. 
    - After the cell with the function (`def`) a code cell is added where an example of an answer is given to show the format of your output. It also contains a test of your function. You can adjust this to whatever you want (even delete it if you want).
	
- Feel free to __add new cells to test snippets of code or for other purposes__.

- There are no hard deadlines, but 15/100 points are awarded for submitting your work before the due date, which you can find on Brightspace. It will need to pass at least one test at that time in order to earn those 15 points. __You will be able to resubmit your work at any time after that (until January 1, 2021) and earn the remaining 85/100 points__.

About your homework results: An _exercise_ is considered to be correct if all its subquestions are answered correctly, however an _exercise_ sometimes undergoes multiple tests (based on different inputs). The e-mail with results specifies per _exercise_ how many tests you have passed. You will get points only for the exercises where you passed all tests.


For any questions about abovementioned guidelines and information or other homework related problems, please e-mail us or ask directly during the practical session!

- Deniz Sen: denizsen@protonmail.com
- Gergely Talyig√°s: talyigasg@gmail.com

In [1]:
def student():
    sname = 'Bella Shao' # enter your name
    snum = '2867426' # enter you student number
    semail = 's2876426@vuw.leidenuniv.nl' # enter the e-mail on which you would like the results for this homework assignment
    return((sname, snum, semail))

In [2]:
# The function should look the similar to this:
print(('John Doe', '1234567', 'john@doe.com'))
# Test your output with the function below (run this cell)
student()

# Pandas

This assignment is about received noise complaint calls by the New York City police in 2016. The data is read in as pandas data frame. Feel free to explore this dataset before doing the exercises. You can for example look at the dimensions, column names, what types of data are in the data frame.

*Note: we will check your exercises also on a modified version of this dataset with the same sturcture, but a different number of rows.*

Pandas is imported standard as `pd` which we will use throughout the assignment as well. You can also use the module `datetime` in your assignment (but don't need it necessarily). If you want to use any other modules you should import these *inside* the exercise functions.

In [3]:
import pandas as pd
import datetime

Read the data.

In [4]:
df_nyc = pd.read_csv('party_in_nyc_cut.txt', sep = "\t")

In [5]:
df_nyc.head()
df_nyc.shape
len(df_nyc)

2000

In [34]:
df_nyc.head()
#sum((df_nyc["City"] == df_nyc["Borough"]) == False)

,Created Date,Closed Date,Location Type,Incident Zip,City,Borough,Investigation time
0,12*11*2016 00:22:15,12@11@2016 03:16:57,Store/Commercial,10003.0,MANHATTAN,MANHATTAN,0 days 02:54:42
1,15*01*2016 22:47:54,15@01@2016 22:55:46,Club/Bar/Restaurant,11235.0,BROOKLYN,BROOKLYN,0 days 00:07:52
2,29*10*2016 00:50:34,29@10@2016 04:34:45,Residential Building/House,11249.0,BROOKLYN,BROOKLYN,0 days 03:44:11
3,25*12*2016 19:15:25,25@12@2016 23:28:32,Residential Building/House,10462.0,BRONX,BRONX,0 days 04:13:07
4,17*08*2016 22:17:55,19@08@2016 21:10:55,Residential Building/House,10452.0,BRONX,BRONX,1 days 22:53:00

### Exercise 1: Counting rows

 The columns `Borough` and `City` should contain the same value, but since the original data set was created manually, not all rows comply to this.

In this exercise, count in how many rows the data set has **in total** and how many rows it has where `Borough` and `City` do **not** contain the same values. You should return a tuple of two integers: total and non-complient.

__Example__:
Original Data Frame is composed of 100 rows. In 5 rows  the values of the column City and the columns Borough are not identical. Returned tuple should be `(100, 5)` .

__Hint__:
Get familar with the following commands to understand the structure of the data set;`pd.read_csv()`, `object.head()`, `object.shape`.

In [7]:
#count_rows
# in: the nyc data as pandas data frame: dataframe
# out: tuple of two integers with total number of rows and number of non-complient rows

def count_rows(dataframe):
    row_number = len(dataframe)
    non_complient_rows = sum((dataframe["City"] == dataframe["Borough"]) == False)
    
    return (row_number,non_complient_rows)

In [8]:
#Example of a correctly formatted function output (the actual output for this dataset)
print((2000, 336))

# Test your own output:
count_rows(df_nyc)

(2000, 336)

(2000, 336)

### Exercise 2: Investigation Time

Imagine the NY City Police department is interested in a statistic which gives information about the time it takes to complete an investigation. In order to compute the time it takes to complete an investigation create the following variables:

`Created Date`: time of the report of the incident;

`Closed Date`: time when the incident was closed by police;

Then for each incident in the dataframe `df_nyc` calculate the time that was needed to resolve the incident. Name the new column `Investigation time`. Return the minimum time needed for the incident investigation. The function should return two integers: number of spent hours, number of spent minutes.

__Example__:

Minimal time of investigation = 2h 43m 22s

Return: `(2, 43)`

In [32]:
#shortest_solving_time
# in: the nyc data as pandas data frame: dataframe
# out: tuple with shortest investigation time in (hours, minutes)
def shortest_solving_time(dataframe):
    dataframe['Investigation time'] = pd.to_datetime(df_nyc["Closed Date"],format = '%d@%m@%Y %H:%M:%S') - pd.to_datetime(df_nyc["Created Date"],format = '%d*%m*%Y %H:%M:%S')
    minimum_invest_time = min(dataframe['Investigation time'])
    hours = minimum_invest_time.seconds//3600
    minutes = (minimum_invest_time.seconds//60)%60
    
    
    return (hours,minutes)

In [33]:
#Example of a correctly formatted function output (the actual output for this dataset)
print((0, 2))

#Test your own output:
shortest_solving_time(df_nyc)

(0, 2)

(0, 2)

### Exercise 3: Number of Complaints per Borough

Lastly, check the number of police compliants for each `Borough` that is **not** `Unspecified`. Return the result in the following format:
- A pandas series with the number of cases and the index indicating the boroughs;
- The object is sorted according to the number of found cases starting from the biggest number;
- The object does not contain the count for ` Unspecified` boroughs
- The object is allowed to have or not have a 'Name:' (it doesn't matter which name).

~~~~
Borough | Number_of_cases
_______________________
name 1  | biggest count
.
.
.
name n  | smallest count
~~~~

**Hint**: There are several pandas methods you can use for this task.

In [41]:
#complaints_per_borough
# in: the nyc data as pandas data frame: dataframe
# out: pd.Series with decending counts of incidents per borough, only for specified buroughs
def complaints_per_borough(dataframe):
    series_count = dataframe.groupby('Borough', as_index = True).size().sort_values(ascending = False).drop(["Unspecified"])
    #print(series_count)
    del series_count.index.name
   
    return (series_count)

In [42]:
#note: your pd.Series is allowed to have a 'Name:', but it doesn't matter which name.
#Example of a correctly formatted function output (the actual output for this dataset, except for name)
print(pd.Series((617,568,411,333,60), index = ('BROOKLYN', 'MANHATTAN','BRONX','QUEENS', 'STATEN ISLAND')))

#Test your own output:
complaints_per_borough(df_nyc)

BROOKLYN         617
MANHATTAN        568
BRONX            411
QUEENS           333
STATEN ISLAND     60
dtype: int64

BROOKLYN         617
MANHATTAN        568
BRONX            411
QUEENS           333
STATEN ISLAND     60
dtype: int64

In [43]:
df_nyc.head()

,Created Date,Closed Date,Location Type,Incident Zip,City,Borough,Investigation time
0,12*11*2016 00:22:15,12@11@2016 03:16:57,Store/Commercial,10003.0,MANHATTAN,MANHATTAN,0 days 02:54:42
1,15*01*2016 22:47:54,15@01@2016 22:55:46,Club/Bar/Restaurant,11235.0,BROOKLYN,BROOKLYN,0 days 00:07:52
2,29*10*2016 00:50:34,29@10@2016 04:34:45,Residential Building/House,11249.0,BROOKLYN,BROOKLYN,0 days 03:44:11
3,25*12*2016 19:15:25,25@12@2016 23:28:32,Residential Building/House,10462.0,BRONX,BRONX,0 days 04:13:07
4,17*08*2016 22:17:55,19@08@2016 21:10:55,Residential Building/House,10452.0,BRONX,BRONX,1 days 22:53:00